* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: #EAF3E2;
}

.container {
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.text {
    width: 30em;
    height: 13em;
    background: #101419;
    border-radius: 20px;
    padding: 2em;
}

h2 {
    padding: 1em 0;
    margin: 0;
    color: #8B9EB7;
}

button {
    margin-top: 1em;
    border: 3px solid #561D25;
    padding: 1em 1.5em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    background: transparent;
    color: #561D25;
    transition: 0.3s;
}

button:hover,
button:focus {
    transform: scale(1.01);
}

@media (max-width: 350px) {
    .container {        
        height: 70vh;
    }
    .text {
        width: 25em;
    }
}